@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #7a6bc7;
    overflow: hidden;
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 4s linear infinite;
}




.background li:nth-child(0) {
    left: 50%;
    width: 57px;
    height: 57px;
    bottom: -57px;
    animation-delay: 1s;
}

.background li:nth-child(1) {
    left: 67%;
    width: 38px;
    height: 38px;
    bottom: -38px;
    animation-delay: 1s;
}

.background li:nth-child(2) {
    left: 7%;
    width: 85px;
    height: 85px;
    bottom: -85px;
    animation-delay: 9s;
}

.background li:nth-child(3) {
    left: 4%;
    width: 90px;
    height: 90px;
    bottom: -90px;
    animation-delay: 1s;
}

.background li:nth-child(4) {
    left: 47%;
    width: 91px;
    height: 91px;
    bottom: -91px;
    animation-delay: 3s;
}

.background li:nth-child(5) {
    left: 26%;
    width: 89px;
    height: 89px;
    bottom: -89px;
    animation-delay: 20s;
}

.background li:nth-child(6) {
    left: 73%;
    width: 55px;
    height: 55px;
    bottom: -55px;
    animation-delay: 13s;
}

.background li:nth-child(7) {
    left: 52%;
    width: 60px;
    height: 60px;
    bottom: -60px;
    animation-delay: 35s;
}

.background li:nth-child(8) {
    left: 77%;
    width: 44px;
    height: 44px;
    bottom: -44px;
    animation-delay: 40s;
}

.background li:nth-child(9) {
    left: 74%;
    width: 53px;
    height: 53px;
    bottom: -53px;
    animation-delay: 33s;
}

.background li:nth-child(10) {
    left: 54%;
    width: 88px;
    height: 88px;
    bottom: -88px;
    animation-delay: 8s;
}

.background li:nth-child(11) {
    left: 52%;
    width: 70px;
    height: 70px;
    bottom: -70px;
    animation-delay: 16s;
}
.container {
    width: 450px;
    height: 630px;
    background: rgba(231, 231, 231, 0.15);
    box-shadow: 0px 31px 15px 0px rgba(0, 0, 0, 0.48);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: auto;
    margin-top: 20px;
    animation-name: kotak;
    animation-duration: 4s;
    animation: kotak 4s ease-in 0s 1 normal forwards;
}
@keyframes kotak {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateY(-250px);
    }

    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0);
    }

    55% {
        animation-timing-function: ease-in;
        transform: translateY(-65px);
    }

    72% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }

    81% {
        animation-timing-function: ease-in;
        transform: translateY(-28px);
    }

    90% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }

    95% {
        animation-timing-function: ease-in;
        transform: translateY(-8px);
    }

    100% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }
}
.profile {
    width: 200px;
    height: 200px;
    background-color: aqua;
    background-image: url(../Gambar/arab2.jpg);
    border: 2px solid white;
    background-repeat: no-repeat;
    background-position: -50px;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
    margin-top: 70px;
    transition: 2s;
    box-shadow: 0px 15px 67px -3px rgba(0, 0, 0, 0.65);
    filter: blur(2px);
    }

.kata {
    width: 350px;
    height: 150px;
    background: rgba(207,
        84,
        84,
        0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: auto;
    margin-top: 50px;
    transition: 2s;
    filter: blur(2px);
}
.profile:hover {
    transform: scale(1.15);
    box-shadow: 0px 50px 0px -29px rgba(0, 0, 0, 0.4);
    filter: blur(0);
    
}
.kata:hover {
    transform: scale(1.15);
    filter: blur(0);
    box-shadow: 0px 50px 0px -29px rgba(0, 0, 0, 0.4);
}
.judul {
    width: 200px;
    margin: auto;
    text-align: center;
    font-family: 'Allura', cursive;
    font-weight: lighter;
    font-size: 50px;
    background: rgba(207, 84, 84, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 1);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 0px 0px 40px 40px;
    color: rgb(82, 82, 82);
    
}
h1 {
    width: 200px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    margin: auto;
    margin-top: -15px;
    line-height: 30px;
    background: rgba(211, 65, 65, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 1);
}
p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 0;
}
